$primary-color: #fbcb05;

input{
  font-family: 'Open Sans', sans-serif;
}
body{
  background: #111;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px;

  #signin{
    width: 500px;
    background: $primary-color;
    padding: 20px 24px;

    #logo{
      text-align: center;
    }

    .form{
      margin-top: 10px;
    }
  }
}