@import url("fontFace.css");
html {
    /* ---- For sticky footer*/
    /*position: relative;*/
    /*min-height: 100%;*/
}
html,body{
    /* ---- For full image*/
    /*height: 100%;*/
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 607px;*/
    /*margin-bottom: 700px;*/
    font-family : "DBHelvethaicaX55Regular";
    font-size : 20px;
}
.bold{ font-weight: bold; }

a:hover {
    text-decoration: none;
}
.frm-delete{ display:inline; }

.bg-pink{ background-color : #ffdfeb; }
.bg-pink-2{ background-color : #ffeff5; }
.bg-red{ background-color : #ee1e25; }
.bg-blue{ background-color : #ebf6ff; }
.bg-orange{ background-color : #fef5e6; }
.bg-green{ background-color : #e6f3dd; }
.bg-gray{ background-color : #f8f8f8; }

.font-16 { font-size: 16px; }
.font-18 { font-size: 18px; }
.font-22 { font-size: 22px; }
.font-24 { font-size: 24px; }
.font-26 { font-size: 26px; }
.font-28 { font-size: 28px; }
.font-30 { font-size: 30px; }
.font-40 { font-size: 40px; }

.color-pink { color: #ffa5c7; }
.color-pink-2 { color: #fe5493; }
.color-blue { color: #6abaff; }
.color-orange { color: #ff9c00; }
.color-green { color: #90d35e; }
.color-red { color: #FF0000; }
.color-gray { color: #686868; }

.radius-10{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.no-padding{ padding: 0px 0px; }
.img-responsive{
    width: 100%;
    display: block;
}
/* ------------------- Header */
.header-xs {
    height: 92px;
    background-color : #ff67a0;
    border-bottom: 1px solid #ffe1ec;
}
.header-xs .logo {
    padding-top: 28px;
    padding-bottom: 22px;
}
.header-xs .icon-menu-xs {
    padding-top: 35px;
    padding-bottom: 30px;
}
.header-xs .sign-in {
    font:normal 26px 'DBHelvethaicaX45Light';
    /*font-size: 36px;*/
    color: #ffffff;
    padding-top: 35px;
    padding-bottom: 25px;
}
.header-xs .sign-in a{ color: #ffffff}
.header-xs .sign-in a:hover{
    color: #ffffff;
    text-decoration: none;
}

.header-md {
    min-height: 93px;
    background-color : #ffffff;
}
.header-md .logo{
    padding-top: 28px;
    padding-bottom: 30px;
}
.header-md .menu{
    padding-top: 10px;
}
.header-md .menu .section-1 ul,.header-md .menu .section-2 ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header-md .menu .section-1 ul li{
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}
.header-md .menu .section-1 ul li a{ color: #2c2c2c; }
.header-md .menu .section-1 ul li a.color-gray{ color: #686868; }
.header-md .menu .section-1 ul li a:hover{
    text-decoration: none;
    color: #2c2c2c;
}
.header-md .menu .section-1 ul li a.color-gray:hover{ color: #686868; }
.header-md .menu .section-1 input{
    background-color: #ff67a0;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    border: 1px solid #ff67a0;
    width: 190px;
    /*min-height: 28px;*/
    padding: 3px 7px;
    color: #ffffff;
    font: normal 20px 'DBHelvethaicaX55Regular';
}
.header-md .menu .section-1 input:focus{
    box-shadow: none;
    outline: 0 none;
}
.header-md input::-webkit-input-placeholder {
    color: #ffffff;
    font-style:italic;
}
.header-md input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    font-style:italic;
}
.header-md input::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
    font-style:italic;
}
.header-md input:-ms-input-placeholder {
    color: #ffffff;
    font-style:italic;
}

.header-md .menu .section-1 .btn-search{
    border: none;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border: none;
    height: 31px;
    background-color: #ff67a0;
    margin-left: -3px;
}
.header-md .menu .section-2{
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 47px;
    background-color: #ff67a0;

}
.header-md .menu .section-2 ul li{
    display: inline;
    font-size: 18px;
}
.header-md .menu .section-2 ul li a{
    padding: 0px 7px;
    color: #ffffff;
}
.header-md .menu .section-2 ul li a:hover{
    text-decoration: none;
    color: #ffffff;
}



/* ------------------- Text top */
.home-text-top-xs{
    min-height: 50px;
}
.home-text-top-xs h1 {
    /*text-decoration: underline;*/
}

/* ------------------- Ads */
.horizontal-ads {
    /*height: 90px;*/
    /*background-color: #d6d6d6;*/
    text-align: center;
    clear: both;
}
.square-ads {
    /*background-color: #d6d6d6;*/
    text-align: center;
    clear: both;
}
.background-ads {
    width: 100%;
    min-height: 853px;
    position: absolute;
    top: 0px;
    z-index: -1000
}

/* ------------------- Banner top xs site */
.banner-top-xs {
    margin-bottom: 18px;
    /*min-height: 425px;*/
    /*background-color: #f8f5f0;*/
    text-align: center;
}

/* ------------------- Home Article */
.home-article-head-text {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 7px 18px 0px 24px;

    font:normal 48px 'DBHelvethaicaX65Medium';
    /*font-size: 48px;*/

}
.home-article-img{
    margin-bottom: 20px;
    min-height: 250px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;

    border: 5px solid #ffffff;
    -moz-box-shadow: 3px 4px 8px #f4f3f3;
    -webkit-box-shadow: 3px 4px 8px #f4f3f3;
    box-shadow: 3px 4px 8px #f4f3f3;
}
.home-article-head-text:after {
    content : 'อ่านทั้งหมด';
    position: absolute;
    right: 18px;
    top:20px;
    font-size: 24px;
}

.home-article-text{
    position: absolute;
    bottom: 12px;
    width: 100%;
}
.home-article-text span {
    margin-right:17px;
    margin-left:17px;
    padding: 10px 10px;
    display: block;
    background-color: rgba(255,255,255,0.7);
    font-size: 30px;
    color: #696969;
    text-align: center;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    #pregnancy .home-article-head-text{ color: #46bcc7 !important; }
    #babies .home-article-head-text{ color: #59a3ff !important; }
    #toddle .home-article-head-text{ color: #ff8827 !important; }
    #kids .home-article-head-text{ color: #11b844 !important; }

    .home-article-head-text{
        margin-bottom: 10px;
        padding-left: 15px;
        background-color: #ffffff !important;
        font-size: 30px;
        font-style: italic;
    }
    /*.home-article-head-text{*/
        /**/
    /*}*/
    .home-article-head-text:after {
        top:15px;
        content: 'อ่านทั้งหมด >>';
        font-size: 18px;
        font-style: normal;
    }
    .home-article-img {
        border: none;
        box-shadow: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    .home-article-text-md{
        color: #7e7e7e;

    }
}

/* ------------------- Home Photo Sharing */
.photo-sharing{
    margin-top : 15px;
    margin-bottom: 15px;
    /*height: 504px;*/
    background-color: #ffe6eb;
    text-align: center;
}

/* ------------------- Home Clinic Rakluke */
.home-clinic-rakluke {
    margin-bottom: 15px;
}
.home-clinic-rakluke .clinic-slide {
    margin-bottom: 15px;
    /*height: 265px;*/
    background-color: #f8f8f8;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
}
.home-clinic-rakluke .qa .row{
    padding-left: 8px;
    padding-right: 8px;
}
.home-clinic-rakluke .q {
    background-color: #f8f8f8;
    margin-bottom: 15px;
    /*padding: 15px 20px 15px 34px;*/
}
.home-clinic-rakluke .q span{
    display: inline;
}
.home-clinic-rakluke .q .col-xs-2{
    /*margin-left: 25px;*/
    font:normal 72px 'DBHelvethaicaX65Medium';
    color: #ffb5ce;
    text-align: center;
}
.home-clinic-rakluke .q .col-xs-10{
    margin-top: 10px;
    font-size: 24px;
    color: #969093;
}

/* ------------------- Home vdo */
.home-vdo-clip{
    margin-top: 40px;
    margin-bottom: 27px;
}
.home-vdo-clip .home-vdo-txt {
    margin-bottom: 7px;
    font:normal 36px 'DBHelvethaicaX65Medium';
    color: #75b645;
}
.home-vdo-clip .home-vdo {
    /*min-height: 265px;*/
    border-bottom: solid 7px #75b645;
    text-align: center;
}

/* ------------------- Tools, Info, Fashion */
.tools {

}
.tools .col-xs-4 {

    text-align: center;
    /*background-color: #46bcc7;*/
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
}
.tools .col-xs-4 a{
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: #46bcc7;
    color: #ffffff;
    font-size: 48px;
}
.tools .col-xs-4 a:hover{
    text-decoration: none;
    color: #ffffff;
}
/* ------------------- Menu Bottom */
.menu-bottom {
    padding-top: 40px;
    background-color: #ffffff;
}
.menu-bottom .social{
    margin-bottom: 30px;
}
.menu-bottom .social img{
    padding-left: 5px;
    padding-right: 5px;
}
.menu-bottom .menu-sm {
    font-size: 18px;
    line-height: 25px;
}
.menu-bottom .menu-sm .pull-left{
    min-width:20%;
    padding-right: 15px;
}
.menu-bottom .menu-sm .pull-left:last-child{
    padding-right: 0px;
}
.menu-bottom .menu-sm ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-bottom .menu-sm .main-menu .head{
    font-size: 20px;
    font-weight: bold;
}
.menu-bottom .menu-sm li a{ color: #545454; }
.menu-bottom .menu-sm li a:hover{
    color: #545454;
    text-decoration: none;
}
@media (min-width: 768px) {
    .menu-bottom{
        padding-bottom: 20px;
    }
}

/* ------------------- Footer */
.footer {
    /* ---- For sticky footer*/
    /*position: absolute;*/
    /*bottom: 0;*/

    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 84px;
    background-color : #ee1e25;
}
.footer .copy-right{
    padding-top: 35px;
    padding-bottom: 5px;
    color: #ffffff;
}