@import url("fontFace.css");

html {
    /* ---- For sticky footer*/
    /*position: relative;*/
    /*min-height: 100%;*/
}
html,body{
    /* ---- For full image*/
    /*height: 100%;*/
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 607px;*/
    /*margin-bottom: 700px;*/
    font-family : "DBHelvethaicaX55Regular";
    font-size : 20px;
}
.bold{ font-weight: bold; }

/*a { color: #fe5493; }*/
/*a:hover {*/
    /*color: #fe5493;*/
    /*text-decoration: none;*/
/*}*/

.bg-pink{ background-color : #ffdfeb; }
.bg-pink-2{ background-color : #ffeff5; }
.bg-red{ background-color : #ee1e25; }
.bg-blue{ background-color : #ebf6ff; }
.bg-orange{ background-color : #fef5e6; }
.bg-green{ background-color : #e6f3dd; }
.bg-gray{ background-color : #f8f8f8; }

.font-16 { font-size: 16px; }
.font-18 { font-size: 18px; }
.font-22 { font-size: 22px; }
.font-24 { font-size: 24px; }
.font-26 { font-size: 26px; }
.font-28 { font-size: 28px; }
.font-30 { font-size: 30px; }
.font-40 { font-size: 40px; }

.color-pink { color: #ffa5c7; }
.color-pink-2 { color: #fe5493; }
.color-blue { color: #6abaff; }
.color-orange { color: #ff9c00; }
.color-green { color: #90d35e; }
.color-red { color: #FF0000; }

.radius-10{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.no-padding{ padding: 0px 0px; }
.img-responsive{
    width: 100%;
    display: block;
}
/* ------------------- Header */
.header-xs {
    height: 77px;
    background-color : #ffdfeb;
}
.header-xs .logo {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-xs .icon-menu-xs {
    padding-top: 13px;
    padding-bottom: 13px;
}
.header-xs .icon-letter {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-md {
    height: 93px;
    background-color : #ffffff;
}

/* ------------------- Text top */
.home-text-top-xs{
    min-height: 50px;
}
.home-text-top-xs h1 {
    /*text-decoration: underline;*/
}

/* ------------------- Ads */
.horizontal-ads {
    /*height: 90px;*/
    /*background-color: #d6d6d6;*/
    text-align: center;
    clear: both;
}
.square-ads {
    /*background-color: #d6d6d6;*/
    text-align: center;
    clear: both;
}
.background-ads {
    width: 100%;
    min-height: 758px;
    position: absolute;
    z-index: -1000
}

/* ------------------- Banner top xs site */
.banner-top-xs {
    margin-bottom: 18px;
    /*min-height: 425px;*/
    /*background-color: #f8f5f0;*/
    text-align: center;
}

/* ------------------- Home Article */
.home-article-head-text {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 7px 18px 0px 24px;

    font:normal 48px 'DBHelvethaicaX65Medium';
    /*font-size: 48px;*/

}
.home-article-img{
    margin-bottom: 20px;
    min-height: 250px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 0px;

    border: 5px solid #ffffff;
    -moz-box-shadow: 3px 4px 8px #f4f3f3;
    -webkit-box-shadow: 3px 4px 8px #f4f3f3;
    box-shadow: 3px 4px 8px #f4f3f3;
}
.home-article-head-text:after {
    content : 'อ่านทั้งหมด';
    position: absolute;
    right: 18px;
    top:20px;
    font-size: 24px;
}

.home-article-text{
    position: absolute;
    bottom: 12px;
    width: 100%;
}
.home-article-text span {
    margin-right:17px;
    margin-left:17px;
    padding: 10px 10px;
    display: block;
    background-color: rgba(255,255,255,0.7);
    font-size: 30px;
    color: #696969;
    text-align: center;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

/* ------------------- Home Photo Sharing */
.photo-sharing{
    margin-top : 15px;
    margin-bottom: 15px;
    /*height: 504px;*/
    background-color: #ffe6eb;
    text-align: center;
}

/* ------------------- Home Clinic Rakluke */
.home-clinic-rakluke {
    margin-bottom: 15px;
}
.home-clinic-rakluke .clinic-slide {
    margin-bottom: 15px;
    /*height: 265px;*/
    background-color: #f8f8f8;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
}
.home-clinic-rakluke .qa .row{
    padding-left: 8px;
    padding-right: 8px;
}
.home-clinic-rakluke .q {
    background-color: #f8f8f8;
    margin-bottom: 15px;
    /*padding: 15px 20px 15px 34px;*/
}
.home-clinic-rakluke .q span{
    display: inline;
}
.home-clinic-rakluke .q .col-xs-2{
    /*margin-left: 25px;*/
    font:normal 72px 'DBHelvethaicaX65Medium';
    color: #ffb5ce;
    text-align: center;
}
.home-clinic-rakluke .q .col-xs-10{
    margin-top: 10px;
    font-size: 24px;
    color: #969093;
}

/* ------------------- Home vdo */
.home-vdo-clip{
    margin-top: 40px;
    margin-bottom: 27px;
}
.home-vdo-clip .home-vdo-txt {
    margin-bottom: 7px;
    font:normal 36px 'DBHelvethaicaX65Medium';
    color: #75b645;
}
.home-vdo-clip .home-vdo {
    /*min-height: 265px;*/
    border-bottom: solid 7px #75b645;
    text-align: center;
}

/* ------------------- Menu Bottom for xs xm size */
.menu-bottom {
    /*position: absolute;*/
    /*bottom: 84px;*/

    width: 100%;
    font-size: 26px;
    padding-top: 17px;
    padding-bottom: 20px;
    min-height: 523px;
    background-color: #ffecf3;
    border-top: 8px solid #ff9cc1 ;
}
.menu-bottom .menu{

}
.menu-bottom ul{
    list-style: none;
    padding:0;
    margin:0;
}
.menu-bottom ul li {
    border-bottom: 1px solid #fed5e4;
}
.menu-bottom ul li a{
    position: relative;
    display: block;
    width: 100%;
}
.menu-bottom ul li a { color: #fe5493; }
.menu-bottom ul li a:hover {
    color: #fe5493;
    text-decoration: none;
}

.menu-bottom ul li a:after{
    content : url("../images/sign-right.png");
    position: absolute;
    top: 2px;
    right: 0px;
}

.menu-bottom ul li:last-child{ border-bottom: none; }

.menu-bottom .social .col-xs-12:first-child{
    margin-top: 10px;
}
/* ------------------- Footer */


.footer {
    /* ---- For sticky footer*/
    /*position: absolute;*/
    /*bottom: 0;*/

    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 84px;
    background-color : #ee1e25;
}
.footer .copy-right{
    padding-top: 35px;
    padding-bottom: 5px;
    color: #ffffff;
}



